Android/Web References/WS/ServiceSAL1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IngenieriaGD.IGDLogWriter.Library.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IngenieriaGD.IGDLogWriter.Library.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.100.102.238/IGDDemoService/ServiceSAL.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="OperationTracking">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecutionTime" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MaskFields" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RemoveFields" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Request" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="TrackId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationTracking" nillable="true" type="tns:OperationTracking" />
  <xs:complexType name="ExceptionTracking">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ExceptionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionTracking" nillable="true" type="tns:ExceptionTracking" />
</xs:schema>