Android/Web References/WS/ServiceSAL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSAL" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.100.102.238/IGDDemoService/ServiceSAL.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.100.102.238/IGDDemoService/ServiceSAL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.100.102.238/IGDDemoService/ServiceSAL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IngenieriaGD.IGDDemo.Library.DAL.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSAL_GetAllClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClients" />
  </wsdl:message>
  <wsdl:message name="IServiceSAL_GetAllClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSAL_GetClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClient" />
  </wsdl:message>
  <wsdl:message name="IServiceSAL_GetClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSAL_UpdateClientReading_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientReading" />
  </wsdl:message>
  <wsdl:message name="IServiceSAL_UpdateClientReading_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientReadingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSAL_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IServiceSAL_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSAL">
    <wsdl:operation name="GetAllClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSAL/GetAllClients" message="tns:IServiceSAL_GetAllClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSAL/GetAllClientsResponse" message="tns:IServiceSAL_GetAllClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSAL/GetClient" message="tns:IServiceSAL_GetClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSAL/GetClientResponse" message="tns:IServiceSAL_GetClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClientReading">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSAL/UpdateClientReading" message="tns:IServiceSAL_UpdateClientReading_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSAL/UpdateClientReadingResponse" message="tns:IServiceSAL_UpdateClientReading_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSAL/ValidateUser" message="tns:IServiceSAL_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSAL/ValidateUserResponse" message="tns:IServiceSAL_ValidateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSAL" type="tns:IServiceSAL">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllClients">
      <soap:operation soapAction="http://tempuri.org/IServiceSAL/GetAllClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://tempuri.org/IServiceSAL/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientReading">
      <soap:operation soapAction="http://tempuri.org/IServiceSAL/UpdateClientReading" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/IServiceSAL/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSAL">
    <wsdl:port name="BasicHttpBinding_IServiceSAL" binding="tns:BasicHttpBinding_IServiceSAL">
      <soap:address location="http://10.100.102.238/IGDDemoService/ServiceSAL.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>